server:
  host: {{octoprint_config_server_host}}
  port: {{octoprint_config_server_port}}

{% if octoprint_config_reverse_proxy is defined %}
  reverseProxy: {{ octoprint_config_reverse_proxy }}
{% endif %}

  firstRun: true
